.container{
  max-width: 400px;
  height: 100vh;
  padding: 25px;
  margin: auto;
  box-shadow: 1px 1px 5px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBtn{
  width: 100%;
  border: 1px solid;
}
.title{
  font-size: 48px;
}