@use 'sass:map';

$bg-images: (
  "bg-1": "../public/images/bg-1.jpg",
  "bg-2": "../public/images/bg-2.jpg",
  "bg-3": "../public/images/bg-3.jpg",
  "bg-4": "../public/images/bg-4.jpg"
);

//THEMES
.theme--dark{
  .tasks-container{
    background-color: $dark;
  }
}

.theme--light{
  .tasks-container{
    background-color: $light;
    p, h1{
      color: $dark;
    }
    svg{
      fill: $gray;
    }
  }
}


@each $name, $url in $bg-images {
  .theme--#{$name}{
    .tasks-container{
      background-image: url($url);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
} 

